body {
   	font-family: sans-serif;
	background-image:url("images/FilzOER.svg");
	background-repeat: inherit;
	background-size: contain;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	
}

.gitter {
	margin: 10px auto;
	max-width: 70em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}
/* Style von der Noscript Seite*/
#no-script {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(242, 248, 237);
      
}

.no-script-message {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 575px;
    transform: translateX(-50%) translateY(-50%);
    background: url('images/detektiv.png') no-repeat;
    background-size: auto;
    height: 200px;
    padding-top: 115px;
    padding-left: 142px;
    font-size: 30px;
    font-weight: 300;
}

.no-script-help-link {
    color: #4285F4;
    font-size: 14px;
    font-weight: normal;
}
/*         */
.grau_container {
    display: grid;
    background-color: rgb(240, 240, 240);
    border-radius: 2em;
    grid-area: 1 / 1 / 4 / 4;
    padding: 3px;
    gap: 20px; 
    margin: 13px auto;

}

.main_divstyle {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 2em;
    grid-area: 1 / 1 / 2 / span 2;
    display: flex;
	flex-flow: column nowrap;
	justify-content: center;


}

.main_divtafel {
	background: url("images/tafel.png");
	background-size: 100% 100%;
	border: 3px solid #99CC33;
    border-radius: 2em;
    grid-area: 1 / 1 / 2 / span 2;
    display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	
}

.main_div1style {
	background: url("images/tafel.png");
	background-size: 100% 100%;
	border: 3px solid #99CC33;
    border-radius: 2em;
    grid-area: 1 / 1 / 2 / span 2;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	grid-gap: 20px;
	
}




#rechts_div {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 2em;
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 2fr 30px 2.6fr 1fr;
    grid-template-columns: 0.2fr 2fr 1fr 2fr 0.2fr;
    gap: 10px;
	max-width: 9em;
	justify-self: end;
}

/* Style fürs Startfenster*/
.grün_container {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 3em;
    box-shadow: 3px 4px 3px 1px rgb(95, 141, 2);
    display: flex;
	grid-area: 1 / 2 / span1 / 3;
	gap: 10px;
	padding: 19px;
	margin: 10px auto;
	min-width: 20em;
	flex-flow: column nowrap;
	align-items: center;
}


.displaynone {
    display: none !important;
}

/* Style für die Hilfeseite */
.hilfeseite {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 2em;
	grid-area: 1 / 1 / 2 / span 2;
    min-height: inherit;
    backface-visibility: hidden;
    transition: 0.5s transform ease;  
	z-index: 5;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
}

.rueckseite {
    transform: rotateY(-180deg);
} 

h1 {
    text-align: center;
}

wbr {
	text-indent: 2em;
}
h2, h3{
    text-indent: 2em;
}
#id_hilfeseite_1>p, #id_hilfeseite_2>p {
    text-indent: 4em;  
}
#id_einleitung>p {
	text-indent: 2em;
}

.iconclass {
    height: 50px;
    width: 50px;
    vertical-align: -20px;
} 

.iconclass_2el {
    height: 30px;
    width: 60px;
    vertical-align: -10px;
} 

.iconclass_3el {
    height: 30px;
    width: 90px;
    vertical-align: -10px;
} 

.iconclass_4el {
    height: 30px;
    width: 130px;
    vertical-align: -10px;
} 

#score1, #score2 {
	font-size: 24px;
	grid-area: 1 / 5 / span 1 / span 1;
	justify-self: center;
	color: mintcream;
	align-self: end;
}

#frage {
	grid-area: 1 / 2 / span 2 / span 3;
	font-size: 43px;
	color: mintcream;
	align-self: center;
	justify-self: center;
}
.menu_hilfe{
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 3em;
    display: flex;
	align-self: center;
	gap: 14px;
    box-shadow: 4px 4px 3px 1px rgb(95, 141, 2);
}

.a_links {
    cursor: pointer;
    color: rgb(95, 141, 2);
}

.a_close {
    cursor: pointer;
    color: rgb(95, 141, 2);
}

.a_rechts {
    cursor: pointer;
    color: rgb(95, 141, 2);
}


/* Style von allen Buttons */
.button_style {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-image: linear-gradient(#CFE3A8, #99CC33);
    border: 5px solid rgb(95, 141, 2);
    border-radius: 2em;
    min-width: 180px;
	padding-left: 15px;
  }
  
  .button_style:active {
    background-image: linear-gradient(#CFE3A8, #99CC33);
    transform: translateY(4px);
  }
  /* Inaktive Buttons */
  .disabled {
      opacity: 0.2;
      cursor: not-allowed;
  }
  .recht {
    cursor: pointer;
    color:rgb(141, 143, 140);
    background-image: linear-gradient(#CFE3A8, #99CC33);
    border: 5px solid rgb(95, 141, 2);
    border-radius: 2em;
  }

  .recht:active {
    background-image: linear-gradient(#CFE3A8, #99CC33);
    transform: translateY(4px);
  }
 
  #hilfe {
      grid-area: 2 / 3 / 3 / 4;
      padding-left: 7px;
      padding-right: 7px;
  }
  /* Tausche die Icons von Soundbutton */
  .sound_icon {
    align-items: center;
    padding-right: 20px !important;   
    padding-left: 14.5px !important;
    grid-area: 3 / 3 / 4 / 4;
  }

  .sound_icon1 {
    grid-area: 3 / 3 / 4 / 4;
  }

  #home {
    grid-area: 4 / 3 / 5 / 4;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* Kartenstapel */  
  .kartenstapel_style {
    grid-area: 7 / 2 / 8 / 5;
    box-shadow: 3px 4px 3px 1px rgb(95, 141, 2);
    border: 3px solid #99CC33;
    border-radius: 2em;
    background: url("images/Karten/Unbenannt-3.png");
    background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.kartenstapel_play {
	z-index: 5;
}

.disabled_1 {
    opacity: 0;
}

/*Karten Style*/

#level2_karte1 {
	grid-area: 2 / 2 / 4 / 3;
	align-self: end;
}

#level2_karte2 {
	grid-area: 2 / 4 / 4 / 5;
	align-self: end;
		
}

#level1_karte {
	grid-area: 2 / 3 / 4 / 4;
	align-self: end;
}

#level2_karte1>img, #level2_karte2>img, #level1_karte>img {
	width: 100%;
	height: 100%;
} 
/* Antworten*/
.antwort {
	height: 50px;
	display: flex;
	flex-flow: row nowrap;
	grid-area: 4 / 1 / 4 / span 5;
	margin: 20px;
	gap: 3px;
	align-self: center;
}

#antwort_1>img, #antwort_2>img, #antwort_3>img, #antwort_4>img, #antwort_5>img, #antwort_6>img, #antwort_7>img, #antwort_11>img, #antwort_21>img, #antwort_31>img, #antwort_41>img, #antwort_51>img, #antwort_61>img, #antwort_71>img {
	height: 100%;
	width: 100%;
}

#kartenstapel_check>p, #kartenstapel_2check>p {
	font-size: 21px;
	font-weight: bolder;
}
.antwort_button {
	flex: auto;
	border: 5px solid transparent;
}

.antwort_checked {
	border: 5px solid #878484;
}

.antwort_richtig {
	border: 5px solid rgb(95, 141, 2);
}

.antwort_falsch {
	border: 5px solid #9C0000;
}

footer {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 20px;
    border-radius: 0.5em 0.5em;
	border: 1px solid;
    background: #e4ebf2;
    border-color: #8a9da8;
    height: 30px;
}

#lizenz {
	grid-column-start: 4;
	justify-self: end;
	align-self: center;
}

@media (max-width: 810px) or (max-height: 490px)
{	
	body {
		max-height: 30em;
		background-size: cover;
		background-repeat: inherit;	
	}
	
	.gitter {
		margin: 5px auto;
		max-width: 44em;
		display: grid;
		max-height: 30em;
	}
	
	.grau_container {
		margin: 0px auto;
	}
	
	.hilfeseite {
		max-height: 29em;
		justify-content: end;
	}
	
	.main_div1style { 
		grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
		grid-gap: 10px; 
	}
	
	#main_div1 {
		grid-template-columns: 2fr 2fr 2fr;
	}
	
	#level1_karte {
		grid-area: 2 / 2 / 3 / 3;
	}
	
	.antwort {
		height: 30px;
		grid-area: 3 / 1 / 4 / 5;
		margin: 9px;
	}
	
	.antwort_checked {
		border: 3px solid #878484;
	}
	
	#rechts_div {
		max-height: 29em;
	}
	
	.kartenstapel_style {
		grid-area: 6 / 2/ 8 / 5;
		align-items: end;
	}
	
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 16px;
	}
	
	#id_einleitung>p, #id_hilfeseite_1>p, #id_hilfeseite_2>p {
		font-size: 12px;
		text-indent: 3em;
	}
}

@media (min-width: 811px) and (max-width: 1077px)
{
	body {
		background-repeat: inherit;
	}
	
	.main_div1style { 
		grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
		grid-gap: 10px; 
	}
	
	.antwort {
		height: 34px;
		grid-area: 3 / 1 / 4 / span 5;
		margin: 11px;
	}
	
	#main_div1 {
		grid-template-columns: 3fr 2fr 3fr;
	}
	
	#level1_karte {
		grid-area: 2 / 2 / 3 / 3;
	}
}

@media (min-width: 811px) and (max-width: 840px)
{
	.antwort {
		height: 34px;
	}
	
	#main_div1 {
		grid-template-columns: 2fr 2fr 2fr;
	}
}

@media (min-width: 840px) and (max-width: 880px)
{
	.antwort {
		height: 36px;
	}
	
	#main_div1 {
		grid-template-columns: 2.5fr 2fr 2.5fr;
	}
}

@media (min-width: 880px) and (max-width: 920px)
{
	.antwort {
		height: 38px;
	}
	
}

@media (min-width: 920px) and (max-width: 960px)
{
	.antwort {
		height: 41px;
	}
	
}

@media (min-width: 960px) and (max-width: 1000px)
{
	.antwort {
		height: 44px;
	}
	
}

@media (min-width: 1000px) and (max-width: 1040px)
{
	.antwort {
		height: 47px;
	}
	
}
@media (min-width: 1040px) and (max-width: 1077px)
{
	.antwort {
		height: 42px;
	}
	
}

/*LEVEL*/
#rechts_div>p {
	grid-area: 6 / 2 / 7 / 5;
    color: rgb(95, 141, 2);
    font-size: 28px;
    align-self: center;
	justify-self: center;
	font-weight: bolder;
}