body {
    font-family: Roboto, Arial, sans-serif;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-jutify-content: center;
    justify-content: center;
    background: white;

}
/* Style von der Noscript Seite*/
#no-script {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f2f8ed;
        background-color: rgb(242, 248, 237);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

.no-script-message {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 575px;
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('images/sherlock.png') no-repeat;
        background-size: auto auto;
    background-size: 250px 200px;
    height: 143px;
    padding-top: 120px;
    padding-left: 250px;
    font-size: 30px;
    font-weight: 300;
}

.no-script-help-link {
    color: #4285F4;
    font-size: 14px;
    font-weight: normal;
}

/* Style von div_1 und div_2*/
.grau_container {
    background: rgb(240, 240, 240);
    width: 960px;
    height: 540px;
    position: absolute;
    top: 30px;
}

.grün_container {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 3em;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
}

/*Style von Canvas*/
#main_canvas {
    background: #E6F3CD;
    border-radius: 1.5em;
}

/* Style von allen Buttons */
.button {
    display: inline-block;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    color: black;
    background-image: -webkit-linear-gradient(#CFE3A8, #99CC33);
    background-image: linear-gradient(#CFE3A8, #99CC33);
    border: 5px solid rgb(95, 141, 2);
    border-radius: 2em;
    position: absolute;
  }
  
  .button:hover {background-color: #99CC33}
  
  .button:active {
    background-image: -webkit-linear-gradient(#CFE3A8, #99CC33);
    background-image: linear-gradient(#CFE3A8, #99CC33);
    transform: translateY(4px);
  }
  /* Inaktive Buttons */
  .disabled {
      opacity: 0.2;
      cursor: not-allowed;
  }
  /* Menü Buttons */
  .start {
    text-align: center;
    left: 31%;
    top:15px;
  }

  .neustart {
    display: none;
    left: 31%;
    top:15px;
  }

  .fortsetzen {
    padding-left: 15px;
    left: 31%;
    top:89px;
  }

  .einleitung {
    padding-left: 15px;
    left: 31%;
    top: 163px;
  }