body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

}
/* Style von der Noscript Seite*/
#no-script {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f2f8ed;
        background-color: rgb(242, 248, 237);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

.no-script-message {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 575px;
    transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('images/detektiv.png') no-repeat;
        background-size: auto auto;
    background-size: 250px 200px;
    height: 143px;
    padding-top: 120px;
    padding-left: 250px;
    font-size: 30px;
    font-weight: 300;
}

.no-script-help-link {
    color: #4285F4;
    font-size: 14px;
    font-weight: normal;
}

/* Style von div_1*/
.grau_container {
    background: rgb(240, 240, 240);
    width: 960px;
    height: 545px;
    position: absolute;
    top: 30px;
    border-radius: 2em;
}


/* Style f端rs Startfenster*/
.gr端n_container {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 3em;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    box-shadow: 3px 4px 3px 1px rgb(95, 141, 2);
}

.displaynone {
    display: none;
}

/* Style f端r die Hilfeseite */
.hilfeseite {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    position: absolute;
    width: 860px; 
    height: 540px;
    border-radius: 1.5em;
    backface-visibility: hidden;
    transition: 0.5s transform ease;
    
}

.rueckseite {
    transform: rotateY(-180deg);
} 

h1 {
    text-align: center;
}

h2 {
    text-indent: 2em;
}
p {
    text-indent: 4em;
    
}

.iconclass {
    height: 50px;
    width: 50px;
    vertical-align: -20px;
} 

.iconclass_2el {
    height: 30px;
    width: 60px;
    vertical-align: -10px;
} 

.iconclass_3el {
    height: 30px;
    width: 90px;
    vertical-align: -10px;
} 

.iconclass_4el {
    height: 30px;
    width: 130px;
    vertical-align: -10px;
} 


.menu_hilfe{
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 3em;
    width: 20%;
    height: 10%;
    position: absolute;
    left: 40%;
    top: 85%;
    box-shadow: 4px 4px 3px 1px rgb(95, 141, 2);
}

.a_links {
    cursor: pointer;
    color: rgb(95, 141, 2);
    position: absolute;
    left: 10%;
}

.a_close {
    cursor: pointer;
    color: rgb(95, 141, 2);
    position: absolute;
    left:40%
}

.a_rechts {
    cursor: pointer;
    color: rgb(95, 141, 2);
    position: absolute;
    left: 70%;
}

/*Style von Canvas*/
.canvas_style {
    background: #E6F3CD;
    border: 3px solid #99CC33;
    border-radius: 2em;
}

/* Style von allen Buttons */
.button {
    display: inline-block;
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    outline: none;
    color: black;
    background-image: linear-gradient(#CFE3A8, #99CC33);
    border: 5px solid rgb(95, 141, 2);
    border-radius: 2em;
    position: absolute;
  }
  
  .button:active {
    background-image: linear-gradient(#CFE3A8, #99CC33);
    transform: translateY(4px);
  }
  /* Inaktive Buttons */
  .disabled {
      opacity: 0.2;
      cursor: not-allowed;
  }
  /* Men端 Buttons */
  .start {
    text-align: center;
    left: 31%;
    top:15px;
  }

  .neustart {
    text-align: center;
    left: 31%;
    top:15px;
  }

  .fortsetzen {
    padding-left: 15px;
    left: 31%;
    top:89px;
  }

  .einleitung {
    padding-left: 15px;
    left: 31%;
    top: 163px;
  }

  .recht {
    display: inline-block;
    cursor: pointer;
    color:rgb(141, 143, 140);
    background-image: linear-gradient(#CFE3A8, #99CC33);
    border: 5px solid rgb(95, 141, 2);
    border-radius: 2em;
    position: absolute;
    left: 92%;
  }

  .recht:active {
    background-image: linear-gradient(#CFE3A8, #99CC33);
    transform: translateY(4px);
  }

  #hilfe {
      top:15px;
      padding-left: 7px;
      padding-right: 7px;
  }
  /* Tausche die Icons von Soundbutton */
  .sound_icon {
    align-items: center;
    padding-right: 20px !important;   
    padding-left: 14.5px !important;
    top:78px;
  }

  .sound_icon1 {
      top:78px;
  }

  /* Kartenstapel */

  #kartenstapel {
      position: absolute;
      height: 100px;
      width: 80px;
      left: 91%;
      top: 75%;
      background: url("images/Karten/Unbenannt-3.png");
      background-size: cover;
      box-shadow: 3px 4px 3px 1px rgb(95, 141, 2);
  }
  
  .kartenstapel_play {
      position: absolute;
      top: 45px;
      left: 20px;
    }
/*LEVEL*/
#level {
    position: absolute;
    left: 82%;
    top: 65%;
    color: rgb(95, 141, 2);
    font-size: 20px;
    font-weight: 900;
    
}

.disabled_1 {
    opacity: 0;
}

footer {
    position: absolute;
    top: 94%;
    left: 90%;
   
}

